{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
      </div>
    </header>
{{end}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T('Membros do grupo 3')}}</p>
<ol>
    <li>{{=T('Hugo Santos       - Project Leader')}}</li>
    <li>{{=T('Marco Costa       - Programmer')}}</li>
    <li>{{=T('Octavio Oliveira  - Programmer')}}</li>
    <li>{{=T('Jose Manuel       - Programmer')}}</li>

</ol>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Menu")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Simulador"), _href=URL('mgm','simula','index'))}}</li>
  </ul>
  <div class="panel-body">
    {{=T("Repositório do projecto")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("MGM no Bitbucket"), _href="https://bitbucket.org/simprograming_g3/mgm")}}</li>
  </ul>
</div>
{{end}}
