<!-- Testes Cliente de Simulador Automatos
 UC: Desenvolvimento de Software 2015 01
 SimProgramming G3 - Projeto MGM
 Aluno: 1002599 - Octavio Augusto da Silva Oliveira -->
{{if value_err == 0:}}
<h3>Autómatos Configurados:</h3>
<h4>{{=tipo_1}} tipo 1.</h4>
<h4>{{=tipo_2}} tipo 2.</h4>
<h4>{{=tipo_3}} tipo 3.</h4>
{{elif value_err == 1:}}
<!-- 1 - Erro de Leitura do autómato -->
<h3>Os autómato não foram configurados.</h3>
<script>
    alert('{{=msg_erro}}')
</script>
{{pass}}