<!-- 
 UC: Desenvolvimento de Software 2015 01
 SimProgramming G3 - Projeto MGM
 Aluno: 1002599 - Octavio Augusto da Silva Oliveira -->

<h4>Estado atual do autómato número {{=automato_num}} do tipo {{=automato_config}}</h4>
<p>Data de inicio: {{=dateini}}&nbsp&nbsp&nbsp&nbsp&nbspHora de inicio: {{=timeini}}</p>
<p>Tempo total: {{=tempo_total}} horas&nbsp&nbsp&nbsp&nbsp&nbspTempo funcionamento: {{=tempo_funcionamento}} horas&nbsp&nbsp&nbsp&nbsp&nbspDisponibilidade: {{=disponibilidade}} %</p>
<p>Total produzido: {{=total_produzido}} unidades&nbsp&nbsp&nbsp&nbsp&nbspQuantidade produzida por hora: {{=quantidade_produzida_hora}} unidades</p>
<p>Estado do autómato: {{=estado}}&nbsp&nbsp&nbsp&nbsp&nbspMensagem de alerta: {{=alerta}}</p>
<h4>Histórico registo: {{=msg_bd}}</h4>




