<!-- 
 UC: Desenvolvimento de Software 2015 01
 SimProgramming G3 - Projeto MGM
 Aluno: 1002599 - Octavio Augusto da Silva Oliveira -->
 
 <table border="1" style="width:100%">
	<tr>
	<th>Nº</th>
	<th>Consulta</th>
	<th>Duração</th>
	<th>Disp.</th>
	<th>Produção</th>
	<th>Estado</th>
	<th>Alerta</th>
	</tr>
	{{for row in rows:}}
	<tr>
	<td>{{=row.NumAutomato}}</td>
	<td>{{=row.DataConsulta}}</td>
	<td>{{=row.TempoTotal}} h</td>
	<td>{{=row.Disponibildiade}} %</td>
	<td>{{=row.QtProduzida}} un.</td>
	<td>{{=get_estado_msg(row.Estado)}}</td>
	<td>{{=get_alerta_msg(row.Alertas)}}</td>
	</tr>
	{{pass}}
</table>

