<!-- 
 UC: Desenvolvimento de Software 2015 01
 SimProgramming G3 - Projeto MGM
 Aluno: 1002599 - Octavio Augusto da Silva Oliveira
 -->
{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
      </div>
    </header>
    <button class="button center btn-default" >{{=A(T("Menu Principal"), _href=URL('mgm','default','index'))}}</button>
{{end}}

{{block content}}

<div class="main-container center-block">
<div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
 
 <div style="position: absolute; top: 1px; left: 1px; width: 500px; background-color: azure;">
<form>
<h3>Simulador de autómatos</h3>
 <div align="right">
<table>
  <tr>
    <th>Endereço</th>
    <th>Porta</th>
  </tr>
  <tr>
    <td><INPUT type="text" id="ip" name = "ip" value="localhost"/></td>
    <td><INPUT type="text" id="port" name = "port" value="8001"/></td>
	<td>&nbsp&nbsp<INPUT type="button" value="Ligar simulador"
       onclick="ajax('{{=URL('set_simulador')}}',['port'],'');"/></td>
  </tr>
 </table>
 </div>
 <p></p>

<h4>Dados de configuração</h4>
 <table>
  <tr>
	<td>Número autómato&nbsp&nbsp</td>
    <td>Tipo de autómato&nbsp&nbsp</td>
    <td>Máximo quantidade produzida/hora&nbsp&nbsp</td>
    <td>Máximo Estados&nbsp&nbsp</td>
	<td>Máximo Alertas</td>
  </tr>
  <tr>
	<td>
		<select id="num_automato" name = "num_automato">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		</select>
	</td>
    <td>
		<select id="tipo" name = "tipo">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		</select>
	</td>
    <td><INPUT type="text" id="quantidade" name = "quantidade" value="20"/></td>
    <td>
		<select id="estados" name = "estados">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		</select>
	</td>
	<td>
		<select id="alertas" name = "alertas">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		</select>
	</td>
  </tr>
</table>
<div style="position: absolute; height: 1px; top: 115px; left: 0px; width: 500px; background-color: black;">&nbsp</div>
<p></p>
<div align="right">
<table>
  <tr>
    <td><INPUT type="button" value="Configurar autómato selecionado"
       onclick="ajax('{{=URL('configurar_automato')}}',['ip','port','num_automato', 'tipo', 'quantidade','estados','alertas'],'target');"/>
	   </td>
    <td>&nbsp&nbsp<INPUT type="button" value="Configurar autómatos (todos)"
       onclick="ajax('{{=URL('configurar_automato_todos')}}',['ip','port','num_automato', 'tipo', 'quantidade','estados','alertas'],'target');"/></td>
	   <td>
	</tr>
</table>
</div>
<div style="position: absolute; height: 1px; top: 274px; left: 0px; width: 500px; background-color: black;">&nbsp</div>
<h4>Estado atual de um autómato</h4>
<div align="right">
Selecionar autómato:&nbsp&nbsp
<select id="automato_sel" name = "automato_sel">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		</select>
 <INPUT type="button" value="Consultar"
       onclick="ajax('{{=URL('consultar')}}',['ip','port','automato_sel'],'target');"/></div>
</form>
<div style="position: absolute; height: 1px; top: 358px; left: 0px; width: 500px; background-color: black;">&nbsp</div>
<h3>Resultado:</h3>
<div id="target"></div>
<form>
<h3>Base de Dados</h3>
<table>
  <tr>
	<td><INPUT type="button" value="Estados de Autómatos"
       onclick="window.open('{{=URL('display_estado')}}');"/></td>
	<td><INPUT type="button" value="Alertas de Autómatos"
       onclick="window.open('{{=URL('display_alertas')}}');"/></td>
	<td><INPUT type="button" value="Autómatos registados"
       onclick="window.open('{{=URL('display_automatos')}}');"/></td>
  </tr>
</table>
</form>
</div>
<div style="position: absolute; top: 1px; left: 510px; width: 750px; background-color: azure;">
    <h3>Histórico<span style="font-size: small; "></span></h3>
    <form>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script>
            $(function() {
                $( "#calendarini" ).datepicker({ dateFormat: "yy-mm-dd" }).val();
                $( "#calendarfim" ).datepicker({ dateFormat: "yy-mm-dd" }).val();
            });
        </script>

        <div align="right">
            <table>
                <tr>
                    <td>Autómato</td>
                    <td>&nbsp&nbsp</td>
                    <td>Inicio</td>
                    <td>Fim</td>
                    <td>&nbsp&nbsp</td>
                </tr>
                <tr>
                    <td><select id="num_automatoBD" name = "num_automatoBD">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        </select>
                    </td>
                    <td>&nbsp&nbsp<INPUT type="button" value="Consultar" onclick="ajax('{{=URL('consultar_mensagens_automato')}}',['num_automatoBD'],'target_table');"/></td>
                    <td><input type="text" id="calendarini" name="calendarini" value="{{=date_now}}"/></td>
                    <td><input type="text" id="calendarfim" name="calendarfim" value="{{=date_now}}"/></td>
                    <td>&nbsp&nbsp<INPUT type="button" value="Consultar" onclick="ajax('{{=URL('mensagens_date')}}',['calendarini','calendarfim'],'target_table');"/></td>
                </tr>
            </table>
        </div>
    </form>
    <div style="position: absolute; height: 1px; top: 115px; left: 0px; width: 750px; background-color: black;">&nbsp</div>
	<div id="target_table"></div>
</div>

</div>
{{end}}